<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <% if (post.layout != 'page') { %>
            <div class="article-meta">
                <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                <%- partial('post/tag') %>
            </div>
        <% } %>
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <div id="lv-container" data-id="city" data-uid="MTAyMC8zNzE5NS8xMzcyOQ==">
            <script type="text/javascript">
           (function(d, s) {
               var j, e = d.getElementsByTagName(s)[0];
        
               if (typeof LivereTower === 'function') { return; }
        
               j = d.createElement(s);
               j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
               j.async = false;
        
               e.parentNode.insertBefore(j, e);
           })(document, 'script');
            </script>
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
    </div>
</article>
<%- partial('comment/index') %>